/* CSS Document */
body{
	background-attachment:fixed;
	background-repeat:no-repeat;
}
.register-header{
	height:85px;
	/*background:#990;*/
	margin-bottom:5px;
	padding-top:15px;
}

#register-box {
    height: auto;
	background: #ffffff;
	/*background: #0FF;*/
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden !important;
    position: relative;
	padding-top:20px;
	padding-left:20px;
	margin-bottom:15px;
}