<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd
">
	<!-- 支持annotation -->
	<context:annotation-config />
	<!-- 检索spring annotation的范围 (@Component,@Resource)-->
	<context:component-scan base-package="com.nf" />
	<!-- 事物管理 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- 读取jdbc.properties文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:jdbc.properties " />
	</bean>
	<!-- 数据源 -->
	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

	</bean>
	<!-- SessionFactory Bean -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- <prop key="hibernate.show_sql">true</prop> -->
				<prop key="hibernate.format_sql">true</prop>
				
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.nf.model</value>
			</list>
		</property>
	</bean>
	<!-- HibernateTransactionManager bean -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- TX xml config-start -->
	<aop:config>
		<aop:pointcut expression="execution(public * com.nf.service.impl.*.*(..))"
			id="defaultServiceOperation" />
		
		<aop:advisor pointcut-ref="defaultServiceOperation"
			advice-ref="defaultTxAdvice"></aop:advisor>
	</aop:config>
	<tx:advice id="defaultTxAdvice">
		<tx:attributes>
			<!-- <tx:method name="add*" propagation="REQUIRED"/> -->
			<tx:method name="save*"/>
			<tx:method name="add*" />
			<tx:method name="delete*"/>
			<tx:method name="get*"/>
		</tx:attributes>
	</tx:advice>
	<!-- TX xml config-end -->

	<!-- hibernate_template -->
	<bean name="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- hibernate_template end-->
</beans>